<div class="row">
    <div class="col-lg-3">
        <div class="panel-body">
            <div class="list-group">
                <a href="#" id="show-contests" class="list-group-item">Contests</a>
                <a href="#" id="show-users" class="list-group-item">Users</a>
                <a href="#" id="show-photos" class="list-group-item">Photos</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8" id="main-window">

    </div>
</div>