@using Champ.App.Models
@model PhotoViewModel

<div class="container">
    <div class="well well-lg" style="border: 1px solid gray">
        <h4>It should display the actual photo:</h4>
        <p>@Model.Location</p>
    </div>
</div>


