@model Champ.App.Models.ContestModels.ContestViewModel
<h2>Contest</h2>
<div class="well well-lg">
    <div><strong>Title: </strong>@Model.Title</div>
    <div><strong>Description: </strong>@Model.Description </div>
</div>




