@model  IEnumerable<Champ.App.Models.ContestViewModel>

<h2>Contests</h2>
@foreach (var contest in Model)
{
    <div class="container">
        <div class="well well-sm">Title: @contest.Title</div>

        <div class="well well-sm">Description: @contest.Description </div>
    </div>
    <br/>
}

