@using Champ.App.Models.ContestModels
@model ContestParticipantViewModel

<h2>@Model.Title</h2>


<div class="well well-bg" style="border: 1px solid gray">
    <div>
        @Html.DisplayFor(c => Model)
    </div>

    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add a photo</button>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_AddPhoto")
        </div>
    </div>
</div>
