@using Champ.App.Models.ContestModels
@model  IEnumerable<ContestViewModel>

<h2>Contests</h2>
@foreach (var contest in Model)
{
    <div class="well well-lg" style="border: 1px solid gray">
        <div>@Html.ActionLink(contest.Title, "GetContest", "Contest", new {Id = contest.Id}, new {title = "Go to contest"})</div>

        <div>Description: @contest.Description </div>
    </div>
    <br/>
}

