

<div id="sidebar" class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
        @if (Request.IsAuthenticated)
        {
            <li><a href="#" id="show-my-contests">My contests</a></li>
            <li><a href="#" id="show-photos">My photos</a></li>
            <li>@Html.ActionLink("Create a contest", "AddContest", "Contest")</li>
            <li>@Html.ActionLink("Contests I Participate In", "", "")</li>
        }
        else
        {
            <li>
                @Html.ActionLink("Active Contests", "ViewContests", "Contest", null,
                            new { title = "Go to contests" })
            </li>
            <li>
                @Html.ActionLink("Past Contests", "PastContests", "Contest", null,
                            new { title = "Go to contests" })
            </li>
            <li></li>
        }
    </ul>
</div>
