@using Champ.App.Models.PhotoModels
@model IEnumerable<PhotoViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                @Html.Partial("_UserAsideMenu")
            </div>
        </div>

        <div class="col-md-8" id="main-content">
            <div class="row">
                @foreach (var photo in Model)
                {
                    @Html.DisplayFor(p => photo)
                }
            </div>
        </div>
    </div>
</div>

