@using Champ.App.Models.PhotoModels
@model IEnumerable<PhotoViewModel>

    <div class="jumbotron">
        <h1>Welcome to our awesome page!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    @Html.Partial("_UserAsideMenu")
                </div>
            </div>

            <div class="col-md-8" id="main-content">
                @foreach (var photo in Model)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-bg" style="border: 1px solid gray">
                                <h4>It should display the actual photo:</h4>
                                <img src="@photo.Location" class="img-responsive" alt="No preview available" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

