@using Champ.App.Models.NotificationModels
@model BrowseNotificationsViewModel
@{
    ViewBag.Title = "Notifications";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                @Html.Partial("_UserAsideMenu")
            </div>
        </div>
        <div class="col-md-8" id="main-content">
            <div class="row">
                <div class="col-md-6">
                    <span id="notification-result" class="text-info"></span>
                </div>
            </div>
            <div class="row">
                @if (Model.Notifications.Any())
                {
                    foreach (var not in Model.Notifications)
                    {
                        @Html.DisplayFor(n => not)
                    }
                }
                else
                {
                    <p>You have no notifications yet</p>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


