<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <input type="search" id="user-search-field" placeholder="Search users ..." />
    </div>
    <div class="modal-body">
        <div id="user-search-result">

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>



