@model Champ.App.Models.SearchModels.SearchViewModel

@foreach (var user in Model.Users)
{
    <div class="row">
        <div class="col-sm-8">
            <div class="well well-lg" style="border: 1px solid gray">
                <h4>@user.Username</h4>
            </div>
            <div>
                @using (@Html.BeginForm("InviteToContest", "Users", FormMethod.Post))
                {
                    @Html.Hidden("UserId", user.UserId)
                    @Html.Hidden("ContestId", user.ContestId)
                    <input type="submit" class="btn btn-group-sm" value="Invite" />
                }
            </div>
        </div>
    </div>
}