@using Champ.App.Models.NotificationModels
@model NotificationViewModel

<div class="well well-sm">
    <div class="row">
        <div class="col-sm-5">
            @Model.Message
        </div>
        <div class="col-sm-4">
            From : @Model.SenderName
        </div>
    </div>
    <br />
</div>