@using Champ.App.Models.PhotoModels
@model PhotoViewModel

<div class="col-md-6">
    <img src="@Model.Location" class="img-responsive" alt="No preview available" />
    <p>Submitted by: @Model.Author</p>
    <br/>
</div>

