@model IEnumerable<Champ.App.Models.PhotoViewModel>

@foreach (var photo in Model)
{
    <div class="container">
        <h3>@photo.Author</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>It should display the actual photo:</h4>
                <p>@photo.Location</p>
            </div>
        </div>
    </div>
}
